In [61]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
superbowl_csv = "../Project 2/Data/superbowl.csv"
superbowl_df = pd.read_csv(superbowl_csv)
superbowl_df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [81]:
president_csv = "../Project 2/Data/presidents.csv"
president_df = pd.read_csv(president_csv)
president_df.head()

,Presidency,President,Wikipedia Entry,Took_office,Left office,Party,Portrait,Thumbnail,Home State
0,1,George Washington,http://en.wikipedia.org/wiki/George_Washington,30/04/1789,4/03/1797,Independent,GeorgeWashington.jpg,thmb_GeorgeWashington.jpg,Virginia
1,2,John Adams,http://en.wikipedia.org/wiki/John_Adams,4/03/1797,4/03/1801,Federalist,JohnAdams.jpg,thmb_JohnAdams.jpg,Massachusetts
2,3,Thomas Jefferson,http://en.wikipedia.org/wiki/Thomas_Jefferson,4/03/1801,4/03/1809,Democratic-Republican,Thomasjefferson.gif,thmb_Thomasjefferson.gif,Virginia
3,4,James Madison,http://en.wikipedia.org/wiki/James_Madison,4/03/1809,4/03/1817,Democratic-Republican,JamesMadison.gif,thmb_JamesMadison.gif,Virginia
4,5,James Monroe,http://en.wikipedia.org/wiki/James_Monroe,4/03/1817,4/03/1825,Democratic-Republican,JamesMonroe.gif,thmb_JamesMonroe.gif,Virginia

In [100]:
superbowl_df= superbowl_df[["Date", "Winner", "Loser", "SB"]]
superbowl_df['Year'] = pd.DatetimeIndex(superbowl_df['Date']).year
superbowl_df.columns = map(str.lower, superbowl_df.columns)
superbowl_df.head()

         date                winner                 loser         sb  year
0  Feb 2 2020    Kansas City Chiefs   San Francisco 49ers   LIV (54)  2020
1  Feb 3 2019  New England Patriots      Los Angeles Rams  LIII (53)  2019
2  Feb 4 2018   Philadelphia Eagles  New England Patriots   LII (52)  2018
3  Feb 5 2017  New England Patriots       Atlanta Falcons    LI (51)  2017
4  Feb 7 2016        Denver Broncos     Carolina Panthers         50  2016

In [99]:
president_df= president_df[["President","Took_office", "Party"]]
president_df['Year'] = pd.DatetimeIndex(president_df['Took_office']).year-1
president_df.columns = map(str.lower, president_df.columns)
president_df.head()

           president took_office                   party  year
0  George Washington  30/04/1789            Independent   1788
1         John Adams   4/03/1797             Federalist   1796
2   Thomas Jefferson   4/03/1801  Democratic-Republican   1800
3      James Madison   4/03/1809  Democratic-Republican   1808
4       James Monroe   4/03/1817  Democratic-Republican   1816

In [91]:
from config import postgres_credentials as creds
rds_connection_string = f"{creds['user']}:{creds['pass']}@localhost:5432/SBP"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [92]:
engine.table_names()

['presidents', 'superbowl']

In [102]:
president_df.to_sql(name="presidents", con=engine, if_exists='append', index=False)

In [103]:
superbowl_df.to_sql(name="superbowl", con=engine, if_exists='append', index=False)

In [107]:
pd.read_sql_query('SELECT s.date,s.winner, s.loser, s.sb, p.president, p.party FROM superbowl s JOIN presidents p ON s.year = p.year ', con=engine).head(20)

,date,winner,loser,sb,president,party
0,Jan 14 1968,Green Bay Packers,Oakland Raiders,II (2),Richard Nixon,Republican
1,Jan 14 1973,Miami Dolphins,Washington Redskins,VII (7),Gerald Ford,Republican
2,Jan 18 1976,Pittsburgh Steelers,Dallas Cowboys,X (10),Jimmy Carter,Democratic
3,Jan 20 1980,Pittsburgh Steelers,Los Angeles Rams,XIV (14),Ronald Reagan,Republican
4,Jan 31 1988,Washington Redskins,Denver Broncos,XXII (22),George H. W. Bush,Republican
5,Jan 26 1992,Washington Redskins,Buffalo Bills,XXVI (26),Bill Clinton,Democratic
6,Jan 30 2000,St. Louis Rams,Tennessee Titans,XXXIV (34),George W. Bush,Republican
7,Feb 3 2008,New York Giants,New England Patriots,XLII (42),Barack Obama,Democratic