In [69]:
import pandas as pd
from sqlalchemy import create_engine

In [70]:
superbowl_csv = "../Superbowl-Presidents/Data/superbowl.csv"
superbowl_df = pd.read_csv(superbowl_csv)
superbowl_df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [71]:
president_tab = "../Superbowl-Presidents/Data/president.tab"
president_df = pd.read_table(president_tab)
president_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN \\""BEN\""\""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [72]:
superbowl_df= superbowl_df[["Date", "Winner", "Loser", "SB"]]
superbowl_df['Year'] = pd.DatetimeIndex(superbowl_df['Date']).year
superbowl_df.columns = map(str.lower, superbowl_df.columns)
superbowl_df.head()

         date                winner                 loser         sb  year
0  Feb 2 2020    Kansas City Chiefs   San Francisco 49ers   LIV (54)  2020
1  Feb 3 2019  New England Patriots      Los Angeles Rams  LIII (53)  2019
2  Feb 4 2018   Philadelphia Eagles  New England Patriots   LII (52)  2018
3  Feb 5 2017  New England Patriots       Atlanta Falcons    LI (51)  2017
4  Feb 7 2016        Denver Broncos     Carolina Panthers         50  2016

In [78]:
president_1967 = president_df.loc[(president_df['year']>1966)]
president_1967['total_votes'] = president_1967.groupby(['year', 'party_detailed', 'candidate'])['candidatevotes'].transform('sum')
president_winner = president_1967.loc[president_1967.groupby(['year'])['total_votes'].idxmax()]
president_winner = president_winner[['year','candidate','party_detailed']]
president_winner.head()

      year          candidate party_detailed
0     1976      CARTER, JIMMY       DEMOCRAT
332   1980     REAGAN, RONALD     REPUBLICAN
696   1984     REAGAN, RONALD     REPUBLICAN
1019  1988  BUSH, GEORGE H.W.     REPUBLICAN
1305  1992      CLINTON, BILL       DEMOCRAT

In [86]:
from config import postgres_credentials as creds
rds_connection_string = f"{creds['user']}:{creds['pass']}@localhost:5432/SBP"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [87]:
engine.table_names()

['presidents', 'superbowl']

In [88]:
president_winner.to_sql(name="presidents", con=engine, if_exists='append', index=False)

In [89]:
superbowl_df.to_sql(name="superbowl", con=engine, if_exists='append', index=False)

In [90]:
pd.read_sql_query('SELECT s.date,s.winner, s.loser, s.sb, p.candidate, p.party_detailed FROM superbowl s JOIN presidents p ON s.year = p.year ', con=engine).head(20)

,date,winner,loser,sb,candidate,party_detailed
0,Jan 18 1976,Pittsburgh Steelers,Dallas Cowboys,X (10),"CARTER, JIMMY",DEMOCRAT
1,Jan 20 1980,Pittsburgh Steelers,Los Angeles Rams,XIV (14),"REAGAN, RONALD",REPUBLICAN
2,Jan 22 1984,Los Angeles Raiders,Washington Redskins,XVIII (18),"REAGAN, RONALD",REPUBLICAN
3,Jan 31 1988,Washington Redskins,Denver Broncos,XXII (22),"BUSH, GEORGE H.W.",REPUBLICAN
4,Jan 26 1992,Washington Redskins,Buffalo Bills,XXVI (26),"CLINTON, BILL",DEMOCRAT
5,Jan 28 1996,Dallas Cowboys,Pittsburgh Steelers,XXX (30),"CLINTON, BILL",DEMOCRAT
6,Jan 30 2000,St. Louis Rams,Tennessee Titans,XXXIV (34),"BUSH, GEORGE W.",REPUBLICAN
7,Feb 1 2004,New England Patriots,Carolina Panthers,XXXVIII (38),"BUSH, GEORGE W.",REPUBLICAN
8,Feb 3 2008,New York Giants,New England Patriots,XLII (42),"OBAMA, BARACK H.",DEMOCRAT
9,Feb 5 2012,New York Giants,New England Patriots,XLVI (46),"OBAMA, BARACK H.",DEMOCRAT
10,Feb 7 2016,Denver Broncos,Carolina Panthers,50,"CLINTON, HILLARY",DEMOCRAT
11,Feb 2 2020,Kansas City Chiefs,San Francisco 49ers,LIV (54),"BIDEN, JOSEPH R. JR",DEMOCRAT